@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-flex{
    display: flex;
  }
/* Dark -02 */
  .text-grey{
    color: #424242;
  }

  /* Dark-03 */

  .text-light-grey{
    color: #727272;
  }

  .bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
    margin-bottom: 85px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link{
    text-decoration: none;
  }

  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
  }
  .banner-image{
    width: 100%;
  }
/* section -1 features content */

.features-content{
    display: flex;
    align-items: center;
    max-width: 1318px;
    margin: 0 auto;
    margin-bottom: 130px;
}



.features-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: 74px;
}
  .quick-list{
    font-weight: 500;
    font-size: 2.8rem;
  }
  .bold-font{
    font-weight: bold;
    font-size: 2.8rem;
  }
  .features-color{
    color: #ff900e;
  }

  /* love features section */
  .love-features{
    gap: 140px
  }
  h3 h4{
    padding: 0px;
    margin: 0px;
  }

  #features-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
  }

  .feature-card{
    padding: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
  }
  .feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;

    
  }
  .featured-architect img{
    width: 100%;
  }
  #experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
  }
  #experience-year{
    font-size: 4rem;
    font-weight: 700;

  }

  /* some fact related styles */
 
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .facts-description{
    max-width: 540px;
  }

  .fact{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 240px;
    height: 240px;
  }
  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
  }
  /* Sponsors section */
  .sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
  }
  /* footer */

 

  /* responsive media query */
  @media  screen  and ( max-width: 576px) {

    .navbar,
     .nav-links,
     .features-content
     {
        flex-direction: column;
    }
    .features-img-container,
     .facts-container,
     .love-features,
     .sponsor-companies
     {
      grid-template-columns: repeat(1, 1fr);
      margin-right: 30px;
    }
    .fauters-list{
      margin-left: 50px;
    }
    .facts-container, .sponsor-companies{
      justify-items: center;
      gap: 24px;
    }
    
    #experience-badge{
      margin-top: 20px;
      margin-left: 0px;
    }
    
  }
  /* Medium size device */

  @media screen and (min-width: 576px) and (max-width: 992px) {
    .features-content,
      .love-features
    {
      flex-direction: column;
     margin-left: 20px;
    }
    .features-img-container{
      margin-left: 30px;
    }
    .sponsor-companies, .facts-container{
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      gap: 10px;
    }
    #experience-badge{
      margin-top: 20px;
      margin-left: 0px;
    }
    
  }